div {
    background-color: red;
    width: 100px;
    height: 100px;
    /* display: block; */
    /* display: inline; */
    display: inline-block;
    visibility: hidden;
    /* display: none; */
}

span {
    background-color: green;
    width: 100px;
    height:  100px;
    /* display: block; */
    /* display: inline; */
    display: inline-block;
    /* display: none; */
}