.icons {
    text-align: center;
}

.icons a {
    text-decoration: none;
    margin-right: 20px;
}

.fa-solid.fa-house {
    color: grey;
}

.fa-solid.fa-house:hover {
    color: black
}

.fa-brands.fa-twitter {
    color: rgb(0, 119, 255);
}

.fa-brands.fa-twitter:hover {
    color: black
}

.fa-brands.fa-youtube {
    color: red;
}

.fa-brands.fa-youtube:hover {
    color: black;
}

.fa-brands.fa-tiktok {
    color: pink;
}

.fa-brands.fa-tiktok:hover {
    color: black;
}